{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <div class="card-body">
          <h2>Log in</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Log in</button>
          </form>
        </div>
{% endblock %}