{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


          <h2>Sign Up</h2>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
{% endblock %}