{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html"> Groups </h1>
    <h2> Add group</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ add_form|crispy }}
        <input name="add" type="submit" value="Add">
    </form>

    <h2> Your groups </h2>
    <div class="list">
        <br>
        {% for group in groups %}
            <p>
                Id: {{ group.id }}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ group.id }}">
                <input name="delete" type="submit" value="Delete">
            </form>
            </p>
        {% endfor %}
        </br>
    </div>
{% endblock %}